<div class="container p-3   ">
    <div class="header">

        <h5>
            <img src="{{competition.emblemUrl}}" width="25" />
            Primera Division 
        </h5>

    </div>
    <div class="row  ">
        <table class=" .table-borderless " *ngIf="competition">
            <tbody>
                <tr>
                    <th scope="row">Zona:</th>
                    <td> {{competition.area.name}}</td>
                <tr>
                    <th scope="row">Temporada:</th>
                    <td>{{competition.currentSeason.startDate | date:'yyyy'}} - {{competition.currentSeason.endDate |
                        date:'yyyy'}} </td>
                </tr>
                <tr>
                    <th scope="row">Xornada:</th>
                    <td>{{competition.seasons.length }}</td>
                </tr>
                <tr>
                    <th scope="row">Campión:</th>
                    <td>
                        <span *ngIf="!competition.currentSeason.winner?.name; else ganador">
                            Sen informacion
                        </span>
                        <ng-template #ganador>
                            {{competition.currentSeason.winner!.name}}
                        </ng-template>
                    </td>
                </tr>

            </tbody>

            <tfoot>
                <small class="text-muted">
                    Última actualización:
                    <strong>
                        {{competition.lastUpdated | date:'longDate'}}
                       
                    </strong>
                </small>

            </tfoot>
        </table>
    </div>
</div>