<hr>
<div class="container">
    <ul class="list-group">
        <li routerLink="" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }"
            class="list-group-item">
            Clasificacion
        </li>
        <li routerLink="partidos" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="list-group-item">
            Partidos
        </li>
        <li routerLink="temporadas"
            routerLinkActive="active" 
            class="list-group-item">
            Temporadas
        </li>
    </ul>
</div>