<div class="container">
    <!-- descomentar estas lineas para menu con rutas -->
    <!-- <ul class="list-group">
        <li routerLink="" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }"
            class="list-group-item">
            Clasificacion
        </li>
        <li routerLink="partidos" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="list-group-item">
            Partidos
        </li>
        <li routerLink="temporadas"
            routerLinkActive="active" 
            class="list-group-item">
            Temporadas
        </li>
    </ul> -->

    <mat-tab-group>
        <mat-tab label="Clasificacion">
            <br>
            <app-clasificacion></app-clasificacion>
        </mat-tab>
        <mat-tab label="Partidos">
            <br>
            <app-partidos></app-partidos>
        </mat-tab>
        <mat-tab label="Temporadas">
            <br>
            <app-temporadas></app-temporadas>
        </mat-tab>
    </mat-tab-group>


</div>